@keyframes pulse {
  from {transform: scale(0.9);}
  to {transform: scale(1);}
}
.anima-pulse {
  animation: pulse 0.6s infinite alternate;
}

@keyframes rotate {
  from {transform: rotate(1.5deg);}
  to {transform: rotate(0.5deg);}
}
.anima-rotate {
  animation: rotate 1.5s infinite alternate linear;
}
