@import "./site.css";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*::selection {
  background-color: #ffc58f;
}

html,
body {
  height: 100%;
}
body {
  font-family: "Patrick Hand SC", Verdana, sans-serif;
  text-transform: uppercase;
}

/**
 * paragraphs
 */
p {
  margin-bottom: 10px;
  line-height: 160%;
}

/**
 * colors
 */
.color-light {
  color: #9e8064;
}

/**
 * alignment
 */
.center {
  text-align: center;
}

/**
 * width
 * height
 */
.fullwidth {
  width: 100%;
}
.fullheight {
  height: 100%;
}

/**
 * titles
 */
.title {
  margin-bottom: 30px;
  text-transform: capitalize;
  font-size: 70px;
  font-family: "Indie Flower", cursive;
  line-height: 70%;
}
.subtitle {
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 140%;
}

/**
 * container
 */
.container {
  max-width: 1130px;
  margin: 0px auto;
  padding: 80px 15px;
}

/**
 * container items
 */
.fullheight > .container {
  height: inherit;
}
.fullheight > .container.items {
  position: relative;
}
.fullheight > .container.items .item {
  transform: translateY(-50%);
  position: absolute;
  width: 500px;
  top: 50%;
}
.fullheight > .container.items .item-left {
  left: 0px;
}
.fullheight > .container.items .item-right {
  right: 0px;
}

/**
 * focus
 */
.button:focus,
.textarea:focus,
.input:focus,
.link:focus {
  outline: none;
  box-shadow: 0px 0px 1px 2px #99cccc;
}

/**
 * borders
 */
.button,
.textarea {
  border: solid 5px #1b130f;
}

/**
 * inputs
 */
.input {
  padding: 10px 20px;
}
.input,
.textarea {
  font-size: 25px;
}
.textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 30px;
  line-height: 140%;
  resize: none;
}

/**
 * buttons
 */
.button {
  display: inline-block;
  padding: 20px 50px;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
  background-color: #009335;
  color: white;
}
.button:hover {
  background-color: #07a23f;
}
.button:active {
  background-color: #009335;
}

/**
 * links
 */
.link {
  color: #009335;
}
.link:hover {
  color: #07a23f;
}
.link:active {
  color: #009335;
}

/**
 * images
 */
.img {
  width: 100%;
}

/**
 * balloon
 */
.balloon {
  display: inline-block;
  margin-bottom: 40px;
  border: solid 5px #1b130f;
  border-radius: 100px;
}
.balloon .input {
  border-radius: inherit;
  border: none;
  width: 240px;
  text-align: center;
}
.balloon > .balloon-details {
  position: relative;
}
.balloon > .balloon-details > span {
  display: inline-block;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: solid 5px #1b130f;
  border-radius: 100px;
}
.balloon > .balloon-details > span:first-child {
  width: 35px;
  height: 25px;
  bottom: -20px;
}
.balloon > .balloon-details > span:last-child {
  width: 25px;
  height: 20px;
  bottom: -30px;
}
