/**
 * backgrounds
 */
.bg-city {
  background-image: linear-gradient(#ccc, #ccc), url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: lighten;
  background-attachment: fixed;
}

/**
 * fonts
 */
.font-heart {
  color: #fd2016;
}
.font-github {
  margin-top: 60px;
  font-size: 45px;
  opacity: 0.65;
  transition: opacity 0.25s;
}
.font-github:hover {
  opacity: 0.5;
}
.font-github:active {
  opacity: inherit;
}
