footer.footer
  .container
    .footer-content
      p.footer-information
        | Feito com 
        i.footer-heart.fas.fa-heart
        |  por 
        a(href='#') Matheus Alves
        | .
      p
        a.footer-github.no-decoration(href='#')
          i.footer-github-icon.fab.fa-github