<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p class="footer-information">
        Feito com <i class="footer-heart fas fa-heart"></i> por <a href="#">Matheus Alves</a>.
      </p>
      <p>
        <a href="https://bit.ly/2rP4AWl" class="footer-github no-decoration" title="Link para o site do autor">
          <i class="footer-github-icon fab fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>