<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <p class="footer-information">
        Feito com <i class="footer-heart fas fa-heart" alt="Amor"></i> por <a href="#">Matheus Alves</a>.
      </p>
      <p>
        <a href="#" class="footer-github no-decoration">
          <i class="footer-github-icon fab fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>