section.generator
  .container
    .generator-wrapper
      h1.title.title--center Gerador de lorem ipsum...
      textarea#text.generator-textarea(rows='10')
      .generator-inputs
        .row.row--center
          .row-col-normal
            button#generate.generator-input.generator-input--button
              | Gerar texto 
              i.fa.fa-magic
          .row-col-normal
            p.generator-text com
          .row-col-normal
            input#paragraphs.generator-input.generator-input--number(type='number', value='42', autocomplete='off')
          .row-col-normal
            p.generator-text parágrafos
