<section class="generator">
  <div class="container">
    <div class="card">
      <h1 class="card-title card-title--center">
        Gerador de lorem ipsum...
      </h1>
      <div class="card-body">
        <textarea id="text" rows="10" class="generator-textarea"></textarea>
        <div class="generator-inputs row row--left row--v-center">
          <div class="row-col">
            <button id="generate" class="generator-input generator-input--button">
              Gerar texto <i class="fa fa-magic"></i>
            </button>
          </div>
          <div class="row-col">
            <label for="paragraphs" class="generator-text">com</label>
          </div>
          <div class="row-col">
            <input type="number" id="paragraphs" class="generator-input generator-input--number" value="42" autocomplete="off">
          </div>
          <div class="row-col">
            <label for="paragraphs" class="generator-text">parágrafos</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>