<section class="generator">
  <div class="container">
    <div class="card">
      <header>
        <h1 class="card-title card-title--center">
          Gerador de lorem ipsum...
        </h1>
      </header>
      <div class="card-body">
        <textarea id="text" rows="10" class="generator-textarea"></textarea>
        <div class="generator-inputs">
          <div class="row row--center">
            <div>
              <button id="generate" class="generator-input generator-input--button">
                Gerar texto <i class="fa fa-magic"></i>
              </button>
            </div>
            <div>
              <p class="generator-text">com</p>
            </div>
            <div>
              <input type="number" id="paragraphos" class="generator-input generator-input--number" value="42" autocomplete="off">
            </div>
            <div>
              <p class="generator-text">parágrafos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>