section.generator
  .container
    .generator-wrapper
      h1.generator-title Gerador de lorem ipsum...
      textarea#text.generator-textarea(rows='10')
      .generator-inputs
        .row.row--center
          div
            button#generate.generator-input.generator-input--button
              | Gerar texto 
              i.fa.fa-magic
          div
            p.generator-text com
          div
            input#paragraphs.generator-input.generator-input--number(type='number', value='42', autocomplete='off')
          div
            p.generator-text parágrafos
