section.home
  .container
    .row
      .row-col
        img.home-image(src='./images/char.svg', alt='Desenho do Cebolinha')
      .row-col
        .home-content
          header.home-header
            h1 Cebolinha
            h2 Ipsum
          article.home-description
            p
              | Pala quem quer um 
              i lolem ipsum
              |  com um toque blasileilo, mas não quer optar por velsões mais
              |  ladicais como 
              a(href='#') Compadle Ipsum
              | , 
              a(href='#') Dilmês Ipsum
              |  ou 
              a(href='#') Mussum Ipsum
              |  que modificam todo o texto.