<section class="home">
  <div class="container">
    <div class="row row--v-center">
      <div class="row-col-6 home-image">
        <img src="./images/char.svg" alt="Desenho do Cebolinha" class="home-image-source">
      </div>
      <div class="row-col-6 home-content">
        <header class="home-header">
          <h1>Cebolinha</h1>
          <h2>Ipsum</h2>
        </header>
        <article class="home-description">
          <p>
            Para quem quer um <i>lolem ipsum</i> com um toque blasileiro, mas
            quer optar por velsões mais ladicais como
            <a href="https://bit.ly/1oDL4Xh" title="Link para o aplicativo">Compadle Ipsum</a>,
            <a href="https://bit.ly/2rQ8C0t" title="Link para o aplicativo">Dilmês Ipsum</a>
            ou <a href="https://bit.ly/1hH98Dc" title="Link para o aplicativo">Mussum Ipsum</a>
            que modificam todo o texto.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>