<section class="home">
  <div class="container">
    <div class="row">
      <div class="row-col home-image">
        <img src="./images/char.svg" alt="Desenho do Cebolinha" class="home-image-src">
      </div>
      <div class="row-col">
        <div class="home-content">
          <header class="home-header">
            <h1>Cebolinha</h1>
            <h2>Ipsum</h2>
          </header>
          <article class="home-description">
            <p>
              Para quem quer um <i>lolem ipsum</i> com um toque blasileiro, mas
              quer optar por velsões mais ladicais como
              <a href="https://goo.gl/vQLbYd">Compadle Ipsum</a>,
              <a href="https://goo.gl/5aq35p">Dilmês Ipsum</a> ou
              <a href="https://goo.gl/6o8nDz">Mussum Ipsum</a> que modificam
              todo o texto.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>