section.informations
  .container
    .row.row--stretch
      .row-col.card.card--left        
        article
          header
            h1.card-title O que é lorem ipsum?
          .card-body
            p
              include ../content/o-que-e-lorem-ipsum.txt
            .card-link
              a.no-decoration(href='#')
                | Ver mais sobre 
                i.fas.fa-arrow-right
      .row-col.card.card--right
        article
          header
            h1.card-title Quem é Cebolinha?
          .card-body
            p
              include ../content/quem-e-cebolinha.txt
            .card-link
              a.no-decoration(href='#')
                | Ver mais sobre 
                i.fas.fa-arrow-right