<section class="information">
  <div class="container">
    <div class="row row--stretch">
      <div class="row-col card">
        <article>
          <header>
            <h1 class="card-title">O que é lorem ipsum?</h1>
          </header>
          <div class="card-body">
            <p>
              Em design gráfico e editoração, Lorem ipsum é um texto utilizado
              para preencher o espaço de texto em publicações (jornais,
              revistas, e websites) e testar aspectos visuais (cores, fontes),
              com a finalidade de verificar o layout, tipografia e formatação
              antes de utilizar conteúdo real.
            </p>
            <div class="information-link">
              <a href="https://bit.ly/2LuWWJC" class="no-decoration" title="Link para a Wikipédia">
                Ver mais <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </article>
      </div>
      <div class="row-col card">
        <article>
          <header>
            <h1 class="card-title">Quem é Cebolinha?</h1>
          </header>
          <div class="card-body">
            <p>
              Cebolinha é um garoto de cabelos espetados que, quando fala,
              troca o “R” pelo “L”. Inteligente e malandrinho, está sempre
              arquitetando planos infalíveis para derrotar a Mônica e se tornar
              o dono da rua. O problema é que os planos sempre dão errado, o
              que resulta sempre em coelhadas no final da história.
            </p>
            <div class="information-link">
              <a href="https://bit.ly/2rZzGdn" class="no-decoration" title="Link para a Wikipédia">
                Ver mais <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>