.card {
  @include border();
  position: relative;
  padding: 50px;
  box-shadow: 15px 15px 0 $pink;
  background-color: white;

  @media (max-width: $lg) {
    @include border(5px);
    font-size: 12px;
  }
  @media (max-width: $md) {
    font-size: 14px;
  }
  @media (max-width: $sm) {
    box-shadow: 10px 10px 0 $pink;
  }
}

.card-title {
  @include border();
  display: inline-block;
  margin: 0;
  padding: 15px 30px;
  position: absolute;
  top: -50px;
  left: 50px;
  transform: rotate(-1.5deg);
  white-space: nowrap;
  font-size: 2.5em;
  background-color: $yellow;

  &--center {
    transform: rotate(-1.5deg) translateX(-50%);
    left: 50%;
  }
  @media (max-width: $lg) {
    @include border(5px);
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
  }
  @media (max-width: $md) {
    padding: 10px 30px;
  }
}

.card-article {
  line-height: 125%;
  font-size: 2em;
}
