body {
  margin: 25px 0 0 0;
  font-family: 'Patrick Hand SC', cursive;
  background-image: linear-gradient(to top, #eee, white);
}

/**
 * All
 */
* {
  box-sizing: border-box;

  &:focus {
    box-shadow: 0 0 5px $green;
  }
  &::selection {
    background-color: $skin;
  }
}

/**
 * Links
 */

a {
  font-weight: bold;
  color: $green;

  &.no-decoration {
    text-decoration: none;
  }
  &:hover {
    color: lighten($green, 5%);
  }
  &:active {
    color: darken($green, 5%);
  }
}