/**
 * Colors
 */

$green:  #009335;
$red:    #fd2016;
$yellow: #fbcc2f;
$brown:  #9e8064;
$pink:   #f4b4cc;
$skin:   #ffc58f;

/**
 * Media queries
 */

$xsm: 576px;
$sm:  600px;
$md:  768px;
$lg:  992px;
$xlg: 1300px;

/**
 * Margins
 */

$section-mb:     150px;
$section-mb--md: 100px;