.footer {
  text-align: center;
  padding: 0 0 200px 0;

  @media (max-width: $lg) {
    padding: 0 0 100px 0;
    font-size: 12px;
  }
}

.footer-content {
  font-size: 2em;
}

/**
 * Separa o texto do ícone do GitHub
 */
 
.footer-information {
  margin-bottom: 80px;

  @media (max-width: $lg) {
    margin-bottom: 50px;
  }
}

.footer-heart {
  animation: pulse .75s alternate infinite linear;
  color: $red;
}

.footer-github {
  transition: .15s linear;
  font-size: 2em;
  font-weight: lighter;
  color: $brown;

  &:hover {
    color: lighten($brown, 5%);
  }
  &:active {
    color: darken($brown, 5%);
  }
}

.footer-github-icon {
  &:hover {
    transform: scale(1.15);
  }
}