.generator {
  margin-bottom: 150px;
  padding: 180px 0;
  background-image: url('../images/bg.jpg');
  background-size: cover;

  header {
    margin-bottom: 40px;
  }
  .card-body {
    @media (max-width: $lg) {
      font-size: 14px;
    }
    @media (max-width: $md) {
      font-size: 12px;
    }
  }
  @media (max-width: $lg) {
    margin-bottom: 100px;
  }
  @media (max-width: $md) {
    padding: 100px 0;
    margin-bottom: 80px;
  }
}

/**
 * Textarea
 */

.generator-textarea {
  width: 100%;
  margin-bottom: 50px;
  padding: 20px;
  border: none;
  resize: vertical;
  line-height: 1.5em;
  font-size: 2em;
  outline: none;
}

/**
 * Inputs
 */

.generator-inputs {
  font-size: 2em;

  .row {
    @media (max-width: $md) {
      display: block;

      div:nth-child(3) {
        text-align: center;
      }
    }
  }
}

/**
 * Text
 */

.generator-text {
  margin: 0;
  padding: 0 20px;

  @media (max-width: $md) {
    display: none;
  }
}

/**
 * Input
 */

.generator-input {
  @include border(6px);
  padding: 15px 30px;
  font-family: inherit;

  @media (max-width: $lg) {
    @include border(5px);
  }

  /**
   * Input button
   */

  &--button {
    font-size: inherit;
    transition: .15s linear;
    cursor: pointer;
    color: white;
    background-color: $green;

    &:hover {
      transform: scale(1.05);
    }
    @media (max-width: $md) {
      width: 100%;
      margin-bottom: 20px;

      &:hover {
        transform: scale(1.025);
      }
    }
  }

  /**
   * Input number
   */

  &--number {
    width: 125px;
    font-size: inherit;
    outline: none;

    &::-webkit-inner-spin-button {
      opacity: 1;
    }
  }
}