.informations {
  margin-bottom: 150px;

  @media (max-width: 700px) {
    margin-bottom: 80px;
  }
  .row {
    @media (max-width: 750px) {
      display: block;
    }
    .card {
      @media (max-width: 1100px) {
        @include border(5px);
        font-size: 14px;
      }
      @media (max-width: 1000px) {
        font-size: 12px;

        &-title {
          @include border(5px);
          left: 50%;
          transform: translateX(-50%);
        }
      }
      @media (max-width: 750px) {
        margin: 0;

        &--left {
          margin-bottom: 90px;
        }
      }
    }
  }
}