.informations {
  margin-bottom: 150px;

  @media (max-width: $lg) {
    font-size: 12px;
  }
  @media (max-width: $md) {
    margin-bottom: 80px;
    font-size: 14px;
  }
  .row {
    @media (max-width: $md) {
      display: block;
    }
 
    /**
     * Card
     */
    .card {
      @media (max-width: $lg) {
        @include border(5px);
      }
      @media (max-width: $md) {
        margin: 0;

        &--left {
          margin-bottom: 90px;
        }
      }
    }
  }
}

/**
 * Link
 */

.information-link {
  text-align: right;
  animation: slide 1s alternate infinite linear;
}