html(lang='pt-BR')
  head
    meta(charset='UTF-8')
    title Cebolinha Ipsum
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Indie+Flower|Patrick+Hand+SC")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")
    link(rel="stylesheet", href="./styles/normalize.css")
    link(rel="stylesheet", href="./styles/main.css")
  body
    include ./includes/home.pug
    include ./includes/informations.pug
    include ./includes/generator.pug
    include ./includes/footer.pug
    script(src='./scripts/main.js')