@charset "UTF-8";
/**
 * Variables
 */
/**
 * Colors
 */
/**
 * Media queries
 */
/**
 * Margins
 */
/**
 * Base
 */
body {
  margin: 25px 0 0 0;
  font-family: 'Patrick Hand SC', cursive;
  background-image: url("../images/texture.png"); }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none;
    box-shadow: 0 0 5px #009335; }
  *::selection {
    background-color: #ffc58f; }

a {
  font-weight: bold;
  color: #009335; }
  a.no-decoration {
    text-decoration: none; }
  a:hover {
    color: #00ad3e; }
  a:active {
    color: #007a2c; }

/**
 * Mixins
 */
/**
 * Layouts
 */
.home {
  margin-bottom: 150px; }
  @media (max-width: 768px) {
    .home {
      margin-bottom: 100px; } }

@media (max-width: 768px) {
  .home-image {
    display: none; } }

.home-image-source {
  width: 100%;
  animation: 2s dance alternate infinite linear; }

.home-content {
  text-align: right; }
  @media (max-width: 992px) {
    .home-content {
      font-size: 12px; } }
  @media (max-width: 768px) {
    .home-content {
      margin-top: 75px;
      flex-basis: auto !important;
      text-align: center; } }

.home-header {
  font-family: 'Indie Flower', cursive; }
  .home-header h1 {
    margin: 0;
    line-height: 0;
    font-size: 8em; }
  .home-header h2 {
    margin: 15px 0;
    font-size: 5em;
    color: #9e8064; }

.home-description {
  line-height: 150%;
  font-size: 2em;
  color: gray; }
  .home-description p {
    margin: 0; }

.information {
  margin-bottom: 150px; }
  @media (max-width: 768px) {
    .information {
      margin-bottom: 100px; }
      .information .row {
        display: block; } }
  .information .card:first-child {
    margin-right: 30px; }
  .information .card:last-child {
    margin-left: 30px; }
  @media (max-width: 768px) {
    .information .card {
      margin-left: 0 !important;
      margin-right: 0 !important;
      /**
       * Margem entre o primeiro e o segundo card
       */ }
      .information .card:first-child {
        margin-bottom: 100px; } }

.information-link {
  text-align: right;
  animation: slide 1s alternate infinite linear; }

.generator {
  margin-bottom: 150px;
  padding: 150px 0;
  background-image: url("../images/bg.jpg");
  background-size: cover; }
  @media (max-width: 992px) {
    .generator {
      margin-bottom: 100px; } }
  @media (max-width: 768px) {
    .generator {
      padding: 100px 0;
      margin-bottom: 80px; } }

.generator-textarea {
  width: 100%;
  margin: 50px 0;
  padding: 10px 20px;
  border: none;
  resize: vertical;
  line-height: 150%; }

@media (max-width: 768px) {
  .generator-inputs {
    display: block !important; }
    .generator-inputs div:nth-child(3) {
      text-align: center; } }

.generator-textarea,
.generator-inputs {
  font-size: 2em; }

.generator-text {
  margin: 0;
  padding: 0 20px; }
  @media (max-width: 768px) {
    .generator-text {
      display: none; } }

.generator-input {
  border: solid 6px black;
  border-radius: 5px;
  padding: 15px 30px;
  font-family: inherit; }
  @media (max-width: 992px) {
    .generator-input {
      border: solid 5px black;
      border-radius: 5px; } }
  .generator-input--button {
    font-size: inherit;
    transition: .15s linear;
    cursor: pointer;
    color: white;
    background-color: #009335; }
    .generator-input--button:hover {
      transform: scale(1.05); }
    @media (max-width: 768px) {
      .generator-input--button {
        width: 100%;
        margin-bottom: 20px; }
        .generator-input--button:hover {
          transform: scale(1.025); } }
  .generator-input--number {
    width: 125px;
    font-size: inherit; }
    .generator-input--number::-webkit-inner-spin-button {
      opacity: 1; }

.footer {
  text-align: center;
  padding: 0 0 200px 0; }
  @media (max-width: 992px) {
    .footer {
      padding: 0 0 100px 0;
      font-size: 12px; } }

.footer-content {
  font-size: 2em; }

/**
 * Separa o texto do ícone do GitHub
 */
.footer-information {
  margin-bottom: 80px; }
  @media (max-width: 992px) {
    .footer-information {
      margin-bottom: 50px; } }

.footer-heart {
  animation: pulse .75s alternate infinite linear;
  color: #fd2016; }

.footer-github {
  transition: .15s linear;
  font-size: 2em;
  font-weight: lighter;
  color: #9e8064; }
  .footer-github:hover {
    color: #a88d74; }
  .footer-github:active {
    color: #8f7359; }

.footer-github-icon:hover {
  transform: scale(1.15); }

/**
 * Modules
 */
.row {
  display: flex;
  /**
   * Alinhamento vertical
   */ }
  .row--left {
    justify-content: flex-start; }
  .row--v-center {
    align-items: center; }
  .row--v-stretch {
    align-items: stretch; }

.row-col {
  flex-basis: auto; }

.row-col-1 {
  flex-basis: 8.33333%; }

.row-col-2 {
  flex-basis: 16.66667%; }

.row-col-3 {
  flex-basis: 25%; }

.row-col-4 {
  flex-basis: 33.33333%; }

.row-col-5 {
  flex-basis: 41.66667%; }

.row-col-6 {
  flex-basis: 50%; }

.row-col-7 {
  flex-basis: 58.33333%; }

.row-col-8 {
  flex-basis: 66.66667%; }

.row-col-9 {
  flex-basis: 75%; }

.row-col-10 {
  flex-basis: 83.33333%; }

.row-col-11 {
  flex-basis: 91.66667%; }

.row-col-12 {
  flex-basis: 100%; }

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 100px; }
  @media (max-width: 960px) {
    .container {
      padding: 0 50px; } }

.card {
  border: solid 6px black;
  border-radius: 5px;
  position: relative;
  padding: 50px;
  box-shadow: 15px 15px 0 #f4b4cc;
  background-color: white; }
  @media (max-width: 992px) {
    .card {
      border: solid 5px black;
      border-radius: 5px;
      font-size: 12px; } }
  @media (max-width: 768px) {
    .card {
      font-size: 14px; } }
  @media (max-width: 600px) {
    .card {
      box-shadow: 10px 10px 0 #f4b4cc; } }

.card-title {
  border: solid 6px black;
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  padding: 15px 30px;
  position: absolute;
  top: -50px;
  left: 50px;
  transform: rotate(-1.5deg);
  white-space: nowrap;
  font-size: 2.5em;
  background-color: #fbcc2f; }
  .card-title--center {
    transform: rotate(-1.5deg) translateX(-50%);
    left: 50%; }
  @media (max-width: 992px) {
    .card-title {
      border: solid 5px black;
      border-radius: 5px;
      left: 50%;
      top: -40px;
      transform: translateX(-50%); } }
  @media (max-width: 768px) {
    .card-title {
      padding: 10px 30px; } }

.card-article {
  line-height: 125%;
  font-size: 2em; }

/**
 * Animations
 */
@keyframes dance {
  from {
    transform: rotate(-3deg); }
  to {
    transform: rotate(3deg); } }

@keyframes pulse {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

@keyframes slide {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(-10px); } }
